.img_upload_wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.img_upload_wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay{
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  color: var(--white);
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.overlay input[type="file"]{
  cursor: pointer;
  position: absolute;
  opacity: 0;
}
.img_upload_wrapper:hover .overlay{
  opacity: 1;
}
.user_input {
  outline: 2px solid var(--border);
  border-radius: 4px;
  width: 90%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding: 4px 8px;
  margin-top: 8px;
  color: #888;
  border: 0;
}
.user_input:focus {
  outline: 2px solid var(--light-primary);
}
.btn_con {
  margin-top: 8px;
  display: flex;
  width: 90%;
  gap: 8px;
}
.save_btn,
.back_btn {
  width: 50%;
  padding: 7px 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  border: 0;
  outline: 0;
  transition: 0.4s;
}
.save_btn {
  background-color: var(--light-primary);
}
.back_btn {
  background-color: #3d3a3a;
}
.save_btn:hover {
  background-color: var(--primary);
}
.back_btn:hover {
  background-color: #2c2c2c;
}
