* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
    --bgcolor:linear-gradient(45deg, #00d2ff, #09eec4);;
    --light-primary:#1dd0c7;
    --primary:#1fbcb4;
    --white:#fff;
    --border: rgba(128, 128, 128, 0.308);
    --nav-bg: #2C3333;
    --home-bg:#CDF0EA;
    --gray:rgba(114, 114, 114, 0.593);
}
body {
  font-family: "Poppins", sans-serif !important;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}